{% load staticfiles %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hack Day</title>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'hackday.css' %}" rel="stylesheet">
</head>

<body>
    <div class="background">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>
