{% extends "base.html" %}

{% block content %}
            <div class="innerhead">
                <div class="logo">Hack Day</div>
                <div class="menubar">
                {% if user.is_anonymous %}
                    <form class="form-inline" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Username" class="form-control">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                        <button type="submit" class="btn btn-success">Login</button>
                        <a class="btn btn-default pull-right" href="{% url 'register' %}">Register</a>
                    </form>
                {% else %}
                    <form class="form-inline" method="post">
                        {% if user.is_superuser %}
                        <span>Logged in as admin.</span>
                        {% else %}
                        {% csrf_token %}
                        <input type="text" name="flag" placeholder="Flag" class="form-control">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {% endif %}
                        <a class="btn btn-danger pull-right" href="{% url 'logout' %}">Logout</a>
                    </form>
                {% endif %}

                </div>
            </div>
            <div class="innerbody">
            {% if user.is_superuser %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Flag</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for flag in flag_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ flag }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Score</th>
                            <th>Flags</th>
                            <th>Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in user_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.score|default:0 }}</td>
                            <td>{{ user.flags|default:0 }}</td>
                            <td>{{ user.activity|default:'NOT YET' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if user.is_authenticated %}
                <p>Logged in as {{ user.username }}.</p>
                {% endif %}
            {% endif %}
            </div>
{% endblock %}
