{% extends "base.html" %}

{% block content %}
            <div class="innerhead">
                <div class="logo">Register</div>
            </div>
            <div class="innerbody">
                <div class="register">
                    <form class="form" method="post">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Username" class="form-control">
                        <input type="password" name="password" placeholder="Password" class="form-control">
                        <button type="submit" class="btn btn-success">Register</button>
                    </form>
                </div>
            </div>
{% endblock %}
