.table {
    opacity: 0.7;
}

.background {
    min-height: 1080px;
    background-image: url(superhacker.jpg);
}

.innerhead {
    margin-top: 30px;
}

.innerbody {
    margin-top: 30px;
}

.logo {
    font-size: 3em;
    text-decoration: underline;
}

.menubar {
    margin-top: 30px;
}

.register {
    width: 200px;
}

.register button {
    width: 100%;
    margin-top: 15px;
}